<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Theatre</servlet-name>
        <servlet-class>daos.Theatre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Theatredaos</servlet-name>
        <servlet-class>daos.Theatredaos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seat_allocationdaos</servlet-name>
        <servlet-class>daos.seat_allocationdaos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seat_typedaos</servlet-name>
        <servlet-class>daos.seat_typedaos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>controller.MovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>controller.First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonDao</servlet-name>
        <servlet-class>daos.PersonDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonController</servlet-name>
        <servlet-class>controller.PersonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDao</servlet-name>
        <servlet-class>daos.AdminDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheatreController</servlet-name>
        <servlet-class>controller.TheatreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Theatre</servlet-name>
        <url-pattern>/Theatre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Theatredaos</servlet-name>
        <url-pattern>/Theatredaos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seat_allocationdaos</servlet-name>
        <url-pattern>/seat_allocationdaos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seat_typedaos</servlet-name>
        <url-pattern>/seat_typedaos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/MovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/First</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonDao</servlet-name>
        <url-pattern>/PersonDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonController</servlet-name>
        <url-pattern>/PersonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDao</servlet-name>
        <url-pattern>/AdminDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheatreController</servlet-name>
        <url-pattern>/TheatreController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
